// TRANSITIONS

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: all 0.3s cubic-bezier(0.025, 0.505, 0.155, 0.805);
}
.slide-up-enter, .slide-up-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

.grow-enter-active, .grow-leave-active {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.025, 0.505, 0.155, 0.805);
}
.grow-enter, .grow-leave-to {
  transform: scale(0);
}


// ANIMATIONS
.shaking{
  animation-name: shake;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  //animation-fill-mode: forwards;
}

.flipInX {
  @include flipInX();
}